body {

    background-color: #96ad7b;
}

header {
}

.search-module {
    border-radius: 0;
}

.card{
    border-radius: 0;
}

.btn {
    border-radius: 0;
}

.btn-success {
    background-color: #274c00;
    color:white;
    border-radius: 0;
}

.btn-warning {
    background-color: #274c00;
    border: #274c00;
    color:white;
}

.dropdown-menu {
    border-radius: 0;
    padding: 4px;
}


.filter-box {
    background-color: white;
}

.nav-link {
    font-family: "Helvetica Neue Condensed", sans-serif;
    font-weight: bold;
}

.form-check-label {
    font-family: "Helvetica Neue Condensed", sans-serif;
}

.product-list-header {
    padding-right: 7px;
}

html{
    margin: 0;
    padding : 0;
}

.main-containers {
    padding-right: 130px;
    padding-left: 130px;
}

.form-check-input {
    margin-right: 15px;
}

.form-control {
    margin-left: 11px;
}

.edit-button {
    padding-left: 4px;
}

.card-body, .login-wrap {
    font-family: "Helvetica Neue Condensed", sans-serif;
}