<th:block th:include="./head.html"></th:block>
<th:block th:include="./nav.html"></th:block>

<div class="main-containers row mb-3">
  <div class="container mt-5">
    <div class="card">
      <div class="card-body">
        <h4>Edit contact</h4>
        <form method="post" th:action="@{/edit-profile}">
          <div class="mb-3">

            <label for="userId" class="form-label">Id</label>
            <input type="text" class="form-control" id="userId" name="id" th:value="${user.id}" readonly>

            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" th:value="${user.email}" readonly>

            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstName" name="firstname" th:value="${user.firstname}">

            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName" name="lastname" th:value="${user.lastname}">

            <label for="password" class="form-label">Password</label>
            <input type="text" class="form-control" id="password" name="password" th:value="${user.password}">

            <label for="pictureUrl" class="form-label">Picture Url</label>
            <input type="text" class="form-control" id="pictureUrl" name="pictureUrl" th:value="${user.pictureUrl}">

          </div>
          <button type="submit" class="btn btn-warning">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<th:block th:include="./footer.html"></th:block>