<header class="p-3 text-bg-light">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="#" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="#" width="100px" height="61px" alt="Icon">
      </a>
      <ul class="nav col-12 col-lg-auto me-lg mb-2 justify-content-end mb-md-0 ms-auto">
        <li><a th:href="@{/}" class="nav-link px-2 text-dark">Home</a></li>
        <li><a th:href="@{/edit-profile}" class="nav-link px-2 text-dark">Edit profile</a></li>
        <li><a th:href="@{/logout}" class="nav-link px-2 text-dark">Logout</a></li>
      </ul>
    </div>
  </div>
</header>
